/* Rofi config file */
/* Source: https://raw.githubusercontent.com/dikiaap/dotfiles/refs/heads/master/.rofi/config.rasi*/
configuration {
    font: "JetBrains Mono Nerd Font Bold 11";
    show-icons: true;
    display-window: "Window";
    display-drun: "Search";
}

@theme "rounded-nord-dark"

listview {
    lines: 6;
}
